<table style="border-collapse:collapse;border-spacing:0;width:100%!important;height:100%!important;max-width:640px;min-width:240px;
min-height:100%;margin:0;padding:0" width="100" cellspacing="0" cellpadding="0">
      <tbody><tr>
        <td style="border-collapse:collapse;border-spacing:0;padding-left:8px;padding-right:8px">
          <table style="border-collapse:collapse;border-spacing:0;width:100%" width="100" cellspacing="0" cellpadding="0">
            <tbody><tr>
              <td style="border-collapse:collapse;border-spacing:0">
                <table style="border-collapse:collapse;border-spacing:0;width:100%;border-bottom-width:1px;border-bottom-color:
                rgba(0,0,0,0.1);border-bottom-style:solid" width="100" cellspacing="0" cellpadding="0">
  <tbody><tr>
    <td style="border-collapse:collapse;border-spacing:0;padding-top:16px;padding-bottom:6px" align="center">
      HyperLocal
    </td>
  </tr>
</tbody></table>

              </td>
            </tr>
            <tr>
              <td style="border-collapse:collapse;border-spacing:0">
                <table style="border-collapse:collapse;border-spacing:0;width:100%;margin-bottom:32px;margin-top:24px" width="100"
                       cellspacing="0" cellpadding="0">
  <tbody><tr>
    <td style="border-collapse:collapse;border-spacing:0">
      <h1 style="font-weight:800;color:#2e2f30!important;margin:0 0 6px" align="center">
        Thanks for your purchase!
      </h1>
      <p style="font-weight:400;margin:0" align="center">
        Your  purchase details are below:

      </p>
    </td>
  </tr>
</tbody></table>

              </td>
            </tr>
            <tr>
              <td style="border-collapse:collapse;border-spacing:0" valign="top" align="center">


<div style="margin-top:0px;border-top-width:1px;border-top-color:rgba(0,0,0,0.1);border-top-style:solid">
    <h3 style="color:#2e2f30!important;padding-top:12px;margin:0">Get a Custom Receipt</h3>
    <table style="border-collapse:collapse;border-spacing:0;width:100%" width="100" cellspacing="0" cellpadding="0">
      <tbody><tr style="font-size:14px;margin-top:16px" align="center">
        <td style="border-collapse:collapse;border-spacing:0;padding:14px">
          Need a custom receipt including your company name and address, tax number, or other stuff?
        </td>
      </tr>
      <tr style="font-size:14px;margin-top:16px" align="center">
        <td style="border-collapse:collapse;border-spacing:0;padding:14px">

        </td>
      </tr>
    </tbody></table>
</div>
<div style="margin-top:0px;border-top-width:1px;border-top-color:rgba(0,0,0,0.1);border-top-style:solid">
  <h3 style="color:#2e2f30!important;padding-top:12px;margin:0">Your Purchases</h3>
  <p style="margin:0">See the attached PDF receipt for a proper invoice.</p>

  <table style="border-collapse:collapse;border-spacing:0;width:80%;font-size:14px;margin-bottom:32px;margin-top:32px" width="100"
         cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <td style="border-collapse:collapse;border-spacing:0;padding-bottom:3px">
          <strong>Purchase ID:</strong> {{txn_id0}}
        </td>
      </tr>
      <tr>
        <td style="border-collapse:collapse;border-spacing:0;padding-bottom:3px">
          <strong>Payment Method:</strong> Online
        </td>
      </tr>
      <tr>
        <td style="border-collapse:collapse;border-spacing:0;padding-bottom:3px">
          <strong>Date:</strong> {{pay_date}}
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>

        <th style="padding-bottom:6px" align="center">Purchased Deal</th>
        <th style="padding-bottom:6px" align="center">Quantity</th>
        <th style="padding-bottom:6px" align="right">You Paid(Rs.)</th>
      </tr>

          <tr>
            <td style="border-collapse:collapse;border-spacing:0;max-width:480px;overflow:hidden;text-overflow:ellipsis;
            white-space:nowrap;padding:3px 0" align="left">
              <a href="#" style="outline:none;color:#009aff;text-decoration:none" target="_blank" >{{id0}}</a>

            </td>
            <td style="border-collapse:collapse;border-spacing:0;padding:3px 0" align="center">{{quantity0}}</td>
            <td style="border-collapse:collapse;border-spacing:0;padding:3px 0" align="right">{{price0}}</td>
          </tr>
           <tr>
            <td style="border-collapse:collapse;border-spacing:0;max-width:480px;overflow:hidden;text-overflow:ellipsis;
            white-space:nowrap;padding:3px 0" align="left">
              <a href="#" style="outline:none;color:#009aff;text-decoration:none" target="_blank" >{{id1}}</a>

            </td>
            <td style="border-collapse:collapse;border-spacing:0;padding:3px 0" align="center">{{quantity1}}</td>
            <td style="border-collapse:collapse;border-spacing:0;padding:3px 0" align="right">{{price1}}</td>
          </tr>
          <tr>
            <td style="border-collapse:collapse;border-spacing:0;max-width:480px;overflow:hidden;text-overflow:ellipsis;
            white-space:nowrap;padding:3px 0" align="left">
              <a href="#" style="outline:none;color:#009aff;text-decoration:none" target="_blank" >{{id2}}</a>

            </td>
            <td style="border-collapse:collapse;border-spacing:0;padding:3px 0" align="center">{{quantity2}}</td>
            <td style="border-collapse:collapse;border-spacing:0;padding:3px 0" align="right">{{price2}}</td>
          </tr>
          <tr>
            <td style="border-collapse:collapse;border-spacing:0;max-width:480px;overflow:hidden;text-overflow:ellipsis;
            white-space:nowrap;padding:3px 0" align="left">
              <a href="#" style="outline:none;color:#009aff;text-decoration:none" target="_blank" >{{id3}}</a>

            </td>
            <td style="border-collapse:collapse;border-spacing:0;padding:3px 0" align="center">{{quantity3}}</td>
            <td style="border-collapse:collapse;border-spacing:0;padding:3px 0" align="right">{{price3}}</td>
          </tr>
    </tbody>
    <tfoot>

      <tr style="font-size:14px;font-weight:500">
        <td colspan="2" style="border-collapse:collapse;border-spacing:0;padding:2px" align="right">TRANSACTION ID</td>
        <td style="border-collapse:collapse;border-spacing:0;padding:2px" align="right">{{txn_id0}}</td>
      </tr>
      <tr style="font-size:14px;font-weight:500">
        <td colspan="2" style="border-collapse:collapse;border-spacing:0;padding:2px" align="right">TOTAL</td>
        <td style="border-collapse:collapse;border-spacing:0;padding:2px" align="right">{{amount0}}</td>
      </tr>
    </tfoot>
  </table>


</div>

              </td>
            </tr>
              <tr>
                <td style="border-collapse:collapse;border-spacing:0" valign="top" align="center">
                  <div style="margin-top:0px;border-top-width:1px;border-top-color:rgba(0,0,0,0.1);border-top-style:solid">
      <h3 style="color:#2e2f30!important;padding-top:12px;margin:0">Thanks for being a dealseterna reader!</h3>
  <table style="border-collapse:collapse;border-spacing:0;width:100%;text-align:center" width="100" cellspacing="0" cellpadding="0">
    <tbody><tr>
      <td style="border-collapse:collapse;border-spacing:0">


      </td>
    </tr>
    <tr style="font-size:12px;color:#8b8d90;margin-top:16px;border-top-width:1px;border-top-color:rgba(0,0,0,0.1);border-top-style:dotted">
      <td style="border-collapse:collapse;border-spacing:0;padding:14px">
        Need help? Check out our Help Center. You can also email us at <a href="glattdealsadmin@gmail.com" style="outline:none;color:#009aff;
        text-decoration:none" target="_blank">dealsadmin@gmail.com</a>.
      </td>
    </tr>
      <tr style="font-size:12px;color:#8b8d90;margin-top:16px;border-top-width:1px;border-top-color:rgba(0,0,0,0.1);border-top-style:dotted">
        <td style="border-collapse:collapse;border-spacing:0;padding:14px">

          <p style="margin:0"><a href="#" style="outline:none;color:#009aff;text-decoration:none" target="_blank"
                                 >Learn more about writing on dealseterna.</a></p>
        </td>
      </tr>
    <tr style="font-size:12px;color:#8b8d90;margin-top:16px;border-top-width:1px;border-top-color:rgba(0,0,0,0.1);border-top-style:dotted">
      <td style="border-collapse:collapse;border-spacing:0;padding:14px">
        <p style="font-size:16px;font-weight:800;margin:0">

          100% Happiness Guarantee

        </p>
        <p style="font-size:13px;margin:0">
          Within 45 days of a purchase, you can get a full refund

        </p>
      </td>
    </tr>
    <tr style="font-size:12px;color:#8b8d90;margin-top:16px;border-top-width:1px;border-top-color:rgba(0,0,0,0.1);border-top-style:dotted">
      <td style="border-collapse:collapse;border-spacing:0;padding:14px">
        If you opt in to email notifications, dealseterna will email you when an author publishes a new version of their book with release notes
        attached. Your email address is never shared with anyone, unless you choose to share it with the author. You can
      </td>
    </tr>
  </tbody></table>
  <table style="border-collapse:collapse;border-spacing:0;width:100%;border-top-width:1px;border-top-color:rgba(0,0,0,0.1);border-top-style:solid;
  text-align:center" width="100" cellspacing="0" cellpadding="0">
  <tbody><tr style="font-size:12px;color:#8b8d90;margin-top:16px;border-top-width:1px;border-top-color:rgba(0,0,0,0.1);border-top-style:dotted">
    <td style="border-collapse:collapse;border-spacing:0;padding:14px">
      This is a transactional email being sent for administrative purposes related to your glattdeals account.<br>
      This email is not associated with a newsletter or promotional email list.
    </td>
  </tr>

  <tr style="font-size:12px;color:#8b8d90;margin-top:16px;border-top-width:1px;border-top-color:rgba(0,0,0,0.1);border-top-style:dotted">
    <td style="border-collapse:collapse;border-spacing:0;padding:14px">
      Don't like email?
      <a href="#">Unsubscribe</a>
      from all non-transactional emails.
    </td>
  </tr>
  <tr style="font-size:12px;color:#8b8d90;margin-top:16px;border-top-width:1px;border-top-color:rgba(0,0,0,0.1);border-top-style:dotted">
    <td style="border-collapse:collapse;border-spacing:0;padding:14px">
      dealseterna is owned and operated by Impinge Solutions company.<br>
     .<br>
      Our mailing address is F-265 Phase-8b Industrial Area Mohali
    </td>
  </tr>
  <tr style="font-size:12px;color:#8b8d90;margin-top:16px;border-top-width:1px;border-top-color:rgba(0,0,0,0.1);border-top-style:dotted">
    <td style="border-collapse:collapse;border-spacing:0;padding:14px">

    </td>
  </tr>
</tbody></table>

</div>
                </td>
              </tr>
          </tbody></table>
        </td>
      </tr>
    </tbody></table>